UNWomen.Prototype.Web/Service References/Prototype/MovieManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNWomen.Prototype.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNWomen.Prototype.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57681/MovieManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNWomen.Common" />
  <xs:complexType name="Movie">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UNWomen.Common" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImdbId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MovieId" type="xs:int" />
          <xs:element minOccurs="0" name="ReleaseYear" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="ArrayOfActor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actor" nillable="true" type="tns:Actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActor" nillable="true" type="tns:ArrayOfActor" />
  <xs:complexType name="Actor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UNWomen.Common" base="q2:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActorId" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImdbId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Actor" nillable="true" type="tns:Actor" />
</xs:schema>